.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  margin: auto;
  color:rgb(211, 35, 35);
}

table {
text-align:center
}

button {
  background-color: #f43939;
  color: white;
  margin:5px
}

#navigation-bar {
  display: inline;
  margin-top: 105px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul li {
  display: flex;
  margin:auto;
}

.username {
  font-size: 1.2em;
}

.hero {
  background-image: url("/src/images/platter.jpg");
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
}

.hero {
  color:white;
  margin:auto;
  margin-bottom: 2%;
  text-align: center;
  font-size: 1.2em;
}

.hero > h1 {
    margin-top: 10%;
}

#placeSearchBox {
  width: 40%;
  height: 25px;
}

#username {
  height: 25px;
}

#loginInput {
  height: 25px;
}

label {
  font-size: 1.5em;
}

button {
  height: 25px;
}

.foodThumb {
  width: 250px;
  height: 250px;
}

#searchForm {
  padding-top:1.5%;
  margin-left: 25%;
}

label {
  padding-right:15px;
  padding-left: 15px;
}

.sep {
  margin-left:42%;
  margin-bottom: 2%;
}

#notLogged {
  margin-right:2%;
  margin-left:70%;
}

.resultPlace {
  display: block;
  margin-left:42.5%;
  padding-top:1.5%;
}